
<style>
    .custom-container {
        background-color: lavenderblush; /* White background */
        padding: 10px; /* Add padding for better look */
        border-radius:30px; /* Optional: Add rounded corners */
        
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container custom-container text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 
